# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/


# Flask/Migrations
instance/
app.db

# VSCode and other editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test coverage
htmlcov/
.coverage
.tox/

# Jupyter Notebooks
.ipynb_checkpoints/ 

.env