{% extends "dashboard_base.html" %}
{%block page_title%}Module Details {%endblock%}

{% block dashboard_content%}
<div class="module-container">
    <div class="module-information-container">
        <h2>Module Details</h2>
        <a href="{{ url_for('module.detail', module_id=module.id) }}">
            <p><strong>Module ID:</strong> {{ module.id }}</p>
        </a>
        <p><strong>Name:</strong> {{ module.name }}</p>
        <p><strong>Description:</strong> {{ module.description }}</p>
        <p><strong>Credits:</strong> {{ module.credits }}</p>
        <p><strong>Semester:</strong> {{ module.semester.value }}</p>
        {% if module.image_path %}
            <div>
                <img
                    src="{{ url_for('static', filename='images/' ~ module.image_path) }}"
                    alt="Module image"
                    style="max-width: 300px;">
            </div>
        {% endif %}
        <a href="{{ url_for('programs.detail', study_program_id=module.study_program.id) }}">
            <p><strong>Study Program:</strong> {{ module.study_program.name }}</p>
        </a>
    </div>

    
    <h4>Required Modules:</h4>
    {% if module.requirements %}
    <ul>
        {% for req in module.requirements %}
        <a href="{{ url_for('module.detail', module_id=req.required_module.id) }}">
            <li>{{ req.required_module.name }}</li></a>
        {% endfor %}
    </ul>
    {% else %}
        <p>This module has no requirements!</p>
    {% endif %}

    <h4>This module is Required For Modules:</h4>
    {% if module.required_for %}
    <ul>
        {% for req in module.required_for %}
        <a href="{{ url_for('module.detail', module_id=req.module.id)}}">
            <li>{{ req.module.name }}</li></a>
        {% endfor %}
    </ul>
    {% else %}
        <p>This module is not required for other modules!</p>
    {% endif %}

    <h4>This module assignments:</h4>
    {% if module.assignments %}
    <ul>
        {% for assignment in module.assignments %}
        <li>{{ assignment.title }} - {{ assignment.description }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>This module has no assignments!</p>
    {% endif %}

    <h4>Module Tests:</h4>
    {% if module.tests %}
    <ul>
        {% for test in module.tests %}
        <a href="{{ url_for('test.detail', test_id=test.id)}}">
            <li>{{ test.name }}</li></a>
        {% endfor %}
    </ul>
    {% else %}
        <p>This module has no tests.</p>
    {% endif %}

    <h4>Attendance Records:</h4>
    {% if module.attendances %}
    <ul>
        {% for attendance in module.attendances %}
        <li>{{ attendance.student.name }} - {{ attendance.date }} - {{ attendance.status }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Nobody attended this module yet!</p>
    {% endif %}

    {% if module.grades %}
    <h4>Grades</h4>
    <ul>
        {% for grade in module.grades %}
        <li>{{ grade.student.name }} - {{ grade.value }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if module.schedule_items %}
    <h4>Schedule</h4>
    <ul>
        {% for item in module.schedule_items %}
        <li>{{ item.day }} {{ item.start_time }} - {{ item.end_time }} in {{ item.room }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
