{% extends "dashboard_base.html" %}
{%block page_title%}Module {{ module.name }} Details {%endblock%}

{% block dashboard_content%}
<div class="module-container">
    <div class="module-information-container">
        <p><strong>Module ID: </strong> {{ module.id }} </p>
        <p><strong>Name:</strong> {{ module.name }}</p>
        <p><strong>Description:</strong> {{ module.description }}</p>
        <p><strong>Credits:</strong> {{ module.credits }}</p>
        <p><strong>Semester:</strong> {{ module.semester.value }}</p>
        <br>
        <hr>
        {% if module.image_path %}
            <div>
                <img
                    src="{{ url_for('static', filename='images/' ~ module.image_path) }}"
                    alt="Module image"
                    style="max-width: 300px;">
            </div>
        {% endif %}
        <br>
        <p><strong>Study Program:</strong> </p><span>{{ module.study_program.name }}</span>
        <a href="{{ url_for('programs.detail', study_program_id=module.study_program.id) }}">
            Details         
        </a>
    </div>
    <br>
    <hr>
    <br>
    <h4>Required Modules:</h4>
    <a href="{{ url_for('module.add_requirement', module_id=module.id)}}">Add new requirement for this module</a>
    {% if module.requirements %}
    <ul>
        {% for req in module.requirements %}
        <li><span>{{ req.required_module.name }}</span>
            <a href="{{ url_for('module.detail', module_id=req.required_module.id) }}">
            </a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>This module has no requirements!</p>
    {% endif %}

    <br>
    <hr>
    <br>

    <h4>This module is Required For Modules:</h4>
    {% if module.required_for %}
    <ul>
        {% for req in module.required_for %}
        <li>
            <span>{{ req.module.name }}</span>
            <a href="{{ url_for('module.detail', module_id=req.module.id)}}">
            </a></li>
        
        {% endfor %}
    </ul>
    {% else %}
        <p>This module is not required for other modules!</p>
    {% endif %}
    <br>
    <hr>
    <br>

    <h4>This module assignments:</h4>
    {% if module.assignments %}
    <ul>
        {% for assignment in module.assignments %}
        <li>{{ assignment.title }} - {{ assignment.description }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>This module has no assignments!</p>
    {% endif %}

    <br>
    <hr>
    <br>


    <h4>Module Tests:</h4>
    {% if module.tests %}
    <ul>
        {% for test in module.tests %}
        <li><span>{{ test.name }}</span>
        <a href="{{ url_for('test.detail', test_id=test.id)}}">
            </a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>This module has no tests.</p>
    {% endif %}

    <br>
    <hr>
    <br>


    <h4>Attendance Records:</h4>
    {% if module.attendances %}
    <ul>
        {% for attendance in module.attendances %}
        <li>{{ attendance.student.name }} - {{ attendance.date }} - {{ attendance.status }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Nobody attended this module yet!</p>
    {% endif %}
    
    <br>
    <hr>
    <br>

    {% if module.grades %}
    <h4>Grades</h4>
    <ul>
        {% for grade in module.grades %}
        <li>{{ grade.student.name }} - {{ grade.value }}</li>
        {% endfor %}
    </ul>
    <br>
    <hr>
    <br>

    {% endif %}

    {% if module.schedule_items %}
    <h4>Schedule</h4>
    <ul>
        {% for item in module.schedule_items %}
        <li>{{ item.day }} {{ item.start_time }} - {{ item.end_time }} in {{ item.room }}</li>
        {% endfor %}
    </ul>
    <br>
    <hr>
    <br>

    {% endif %}
</div>


{% endblock %}

