{% extends "base.html" %} {% block title %}Accessibility Statement{% endblock %}
{% block content %}
<div class="page-content">
  <h1>Accessibility Statement</h1>
  <p>
    This Accessibility Statement (the Statement) was prepared on April 25, 2024.
  </p>

  <p>
    This Statement applies to content published on the main domain ‘en.ktu.edu’
    and its subdomains ‘admissions.ktu.edu’ and ‘students.ktu.edu’ (the
    Website). The Website is managed by Kaunas University of Technology.
  </p>

  <h2>Compliance status</h2>
  <p>
    The Website is partially compliant with technical standard EN 301 549
    v.3.2.1 and the Web Content Accessibility Guidelines (WCAG) 2.2 Level AA.
    See more information in the section Limitations and alternatives.
  </p>
  <p>
    Compliance status is based on the results of Accessibility Evaluation. The
    detailed results are listed in the Accessibility Conformance Report.
  </p>

  <h2>Accessibility Features</h2>
  <p>
    In addition to many other accessibility features, when using the Website,
    you should be able to:
  </p>
  <ul>
    <li>Zoom in up to 200% without any issues</li>
    <li>Easily navigate the Website using only your keyboard.</li>
    <li>
      Seamlessly browse the Website with modern screen readers and speech
      recognition software on your computer or phone.
    </li>
  </ul>

  <h2>Feedback</h2>
  <p>
    We welcome your feedback on the accessibility of this Website. Please let us
    know if you encounter accessibility barriers by:
  </p>
  <ul>
    <li>Email: <a href="mailto:prieinamumas@ktu.lt">prieinamumas@ktu.lt</a></li>
    <li>
      Feedback form (please avoid sharing sensitive details in the form, such as
      personal financial information, health-related details, or any other
      sensitive topics).
    </li>
  </ul>

  <h2>Preparation of this Statement</h2>
  <p>
    The Statement is based on a review of a representative sample of web pages
    conducted by:
  </p>
  <ul>
    <li>
      Sighted digital accessibility expert. The evaluation was done by combining
      manual and automated testing.
    </li>
    <li>
      Digital accessibility expert with a visual impairment. The evaluation was
      done using assistive technologies.
    </li>
  </ul>

  <h2>Compatibility with Assistive Technologies</h2>
  <p>
    The Website is designed to be largely compatible with the following commonly
    used assistive technologies:
  </p>
  <ul>
    <li>“Jaws” and “NVDA” screen readers and Chrome on Windows.</li>
    <li>“Talkback” screen reader and Chrome on Android.</li>
    <li>“VoiceOver” screen reader and Safari on iOS.</li>
  </ul>

  <h2>Technical specifications</h2>
  <p>
    The accessibility of the Website relies on the following technologies to
    work with the particular combination of web browser and any assistive
    technologies or plugins installed on your computer:
  </p>
  <ul>
    <li>HTML</li>
    <li>WAI-ARIA</li>
    <li>CSS</li>
    <li>JavaScript</li>
  </ul>

  <h2>Limitations and alternatives</h2>
  <p>
    When using the Website with assistive technologies, you may encounter
    certain limitations. Below, we outline these known issues and offer
    potential solutions:
  </p>
  <ul>
    <li>
      <strong>Keyboard Accessibility.</strong> Some interactive elements, such
      as sliders and dropdown menus, cannot currently be navigated using a
      keyboard alone.
    </li>
    <li>
      <strong>Visible Focus Indicators.</strong> The Website does not
      consistently show visible focus indicators on some elements, which are
      crucial for users navigating via keyboard.
    </li>
    <li>
      <strong>Descriptive Link Text.</strong> Many links on the Website lack
      clear descriptions, hindering navigation for both screen reader users and
      those who need clear context to navigate effectively.
    </li>
    <li>
      <strong>Color Contrast.</strong> Some text and background combinations do
      not meet the minimum color contrast ratio, which can make text difficult
      to read for users with visual impairments.
    </li>
    <li>
      <strong>Video Accessibility Options.</strong> Some videos lack audio
      descriptions, transcripts, and captions, which are essential for users
      with visual impairments or cognitive disabilities to fully understand and
      process the content.
    </li>
    <li>
      <strong>Text Alternatives for Images.</strong> Some images on the Website
      may lack text alternatives or may have inaccurate descriptions. We
      actively monitor user feedback and typically address and correct any
      reported issues within 20 working days.
    </li>
    <li>
      <strong>Accessibility of Archived Documents.</strong> Some archived
      documents may not be compatible with current assistive technologies due to
      the use of outdated technologies. Upon request, we will convert these
      documents to accessible formats within 20 working days.
    </li>
  </ul>
  <p>
    The limitations are listed in more detail in the Accessibility Conformance
    Report.
  </p>
  <p>
    We are committed to making our website accessible to all users and recognize
    the need for improvements in several areas. We are actively working to
    enhance these features and plan to implement significant upgrades in the
    coming months. We value your patience and welcome your feedback as we work
    to improve your experience.
  </p>

  <h2>Official issuance and approval of this accessibility statement</h2>
  <p>This accessibility statement was issued by:</p>
  <p>
    June / Karlove (AxAll, UAB)<br />
    Perkunkiemio g. 53, LT-12144<br />
    Vilnius, Lithuania<br />
    <a href="https://www.junekarlove.com" target="_blank">www.junekarlove.com</a
    ><br />
    letstalk@junekarlove.com
  </p>

  <p>This accessibility statement was approved by:</p>
  <p>
    Kaunas University of Technology<br />
    K. Donelaičio St. 73, LT-44249<br />
    Kaunas, Lithuania<br />
    +370 (37) 300 000<br />
    <a href="https://en.ktu.edu" target="_blank">en.ktu.edu</a><br />
    <a href="mailto:ktu@ktu.lt">ktu@ktu.lt</a>
  </p>
</div>
{% endblock %}
