{% extends "dashboard_base.html" %} {% block title %}Group Details{% endblock %} 

{% block page_title %}Group {{ group.code }} Details{% endblock %} 
{% block
dashboard_content %}

<div class="container fade-in">

  <div class="feature-card">
    <h3>Group belong to Study Program</h3>
    <p>{{ group.study_program.name }}</p>
  </div>

  <div class="feature-card">
    <h3>Students in the group:</h3><br>
    <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Student Progam</th>
        <th>Student Full Name</th>
      </tr>
    </thead>
    <tbody>
    {% for student in students %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ group.study_program.name }}</td>
        <td>{{ student.full_name }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="3">No groups found.</td>
      </tr>
      {% endfor %}
      <tr>
      </tr>
    </tbody>
  </table>
  </div>
    <button>
      <a
        href="{{ url_for('groups.edit_group', group_id=group.id) }}"
        class="btn btn-secondary">
        Edit group
      </a>
    </button>
      <a href="{{ url_for('groups.index') }}" class="btn btn-secondary"
      >Back to Groups</a>
</div>
{% endblock %}


  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Student Progam</th>
        <th>Student Full Name</th>
      </tr>
    </thead>
    <tbody>
    {% for student in students %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ student.study_program.name }}</td>
        <td>{{ student.full_name }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="3">No groups found.</td>
      </tr>
      {% endfor %}
      <tr>
      </tr>
    </tbody>
  </table>