{% extends "base.html" %} {% block title %}Group Details{% endblock %} {% block
content %}
<div class="container fade-in">
  <h1>Group: {{ group.code }}</h1>

  <div class="feature-card">
    <h3>Study Program</h3>
    <p>{{ group.study_program.name }}</p>
  </div>

  <div class="feature-card">
    <h3>Students in the group:</h3>
    <button>
      <a
        href="{{ url_for('groups.edit_group', group_id=group.id) }}"
        class="btn btn-secondary">
        Edit group
      </a>
    </button>
    {% if students %}
    <ul>
      {% for student in students %}
      <li>
        {{ student.first_name }} {{ student.last_name }} ({{ student.full_name }})
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No students assigned to this group.</p>
    {% endif %}
  </div>

  <div class="form-actions">
    <a href="{{ url_for('groups.index') }}" class="btn btn-secondary"
      >Back to Groups</a
    >
  </div>
</div>
{% endblock %}
