{% extends "base.html" %} {% block content %}
<!-- Hero Photo Section -->
<div class="photo-container">
  <img
    src="{{ url_for('static', filename='images/homepagephoto.jpg') }}"
    alt="Homepage Photo"
    class="background-photo"
  />

  <!-- TEXT BOXES OVER PHOTO -->
  <div class="photo-overlay">
    <h1 class="photo-title">Pursue your own path in life</h1>
    <p class="photo-subtitle">2025 admissions open</p>
    <div class="hero-buttons">
      <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Apply</a>
    </div>
  </div>

  <!-- Features -->
  <div class="features">
    <div class="feature-card">
      <h3>Study Programs</h3>
      <p>Access informational page f.e.: study_programs_information.html</p>
      <a href="{{ url_for('programs.index') }}">
        Find the right study program for you
      </a>
    </div>
    <div class="feature-card">
      <h3>Modules</h3>
      <p>Access informational page f.e.: modules_information.html</p>
      <a href="{{ url_for('module.index') }}">About Modules</a>
    </div>
    <div class="feature-card">
      <h3>Faculties</h3>
      <p>Access informational page f.e.: faculty_information.html</p>
      <a href="{{ url_for('faculty.index') }}">About Faculties</a>
    </div>
  </div>
  {% endblock %}
</div>
